manifest {
    homePage = 'https://github.com/icgc-argo/broad-mutect2-variant-calling'
    description = 'ICGC-ARGO Broad Mutect2 Variant Calling Pipeline'
    name = 'sanger-wxs-variant-caller'
    nextflowVersion = '>=20.01.0'
}

docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}
